<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Patryk's Online Book Store!</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet" type="text/css">
</head>
<body>
<h1>Welcome to Patryk's Online Book Store!</h1>
<header class="navigation" th:replace="fragments :: nav">
</header>
<h3 style="margin-left: 20px">Available Books</h3>
<table>
    <tr>
        <th>ISBN</th>
        <th>TITLE</th>
        <th>AUTHOR</th>
        <th>Price</th>
    </tr>
    <tbody>
    <tr th:each="book : ${books}">
        <td th:text="${book.bookISBN}"></td>
        <td th:text="${book.bookTitle}"></td>
        <td th:text="${book.bookAuthor}"></td>
        <td th:text="${book.bookPrice}"></td>
    </tr>
    </tbody>
</table>
<h3 style="margin-left: 20px">Add a book to book list</h3>
<form method="post" action="/postNewBook">
    <h4>Book Title: </h4>
    <input type="text" name="bookTitle"/>
    <h4>Book Author: </h4>
    <input type="text" name="bookAuthor"/>
    <h4>Book Price: </h4>
    <input type="text" name="bookPrice"/><br><br>
    <input type="submit"/>
</form>
<footer th:replace="fragments :: footer">
</footer>

</body>
</html>
