<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Patryk's Online Book Store!</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet" type="text/css">
</head>
<body>
<h1>Welcome to Patryk's Online Book Store!</h1>
<header class="navigation" th:replace="fragments :: nav">
</header>
<h2>Add a book to book list</h2>
<form method="post" action="/postNewBook">
    <h3>Book Title: </h3>
    <input type="text" name="bookTitle"/>
    <h3>Book Author: </h3>
    <input type="text" name="bookAuthor"/>
    <h3>Book Price: </h3>
    <input type="text" name="bookPrice"/><br>
    <input type="submit"/>
</form>
<footer th:replace="fragments :: footer">
</footer>

</body>
</html>
