<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Patryk's Online Book Store!</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet" type="text/css">
</head>
<body>
<h1>Welcome to Patryk's Online Book Store!</h1>
<header class="navigation" th:replace="fragments :: nav">
</header>
<table>
    <tr>
        <th>ISBN</th>
        <th>TITLE</th>
        <th>AUTHOR</th>
        <th>Price</th>
    </tr>
    <tbody>
    <h3 style="margin-left: 20px">Check out page!</h3>
    <tr th:each="book : ${selectedBooks}">
        <td th:text="${book.bookISBN}"></td>
        <td th:text="${book.bookTitle}"></td>
        <td th:text="${book.bookAuthor}"></td>
        <td th:text="${book.bookPrice}"></td>
    </tr>
    </tbody>
</table>
<table>
    <thead>
    <tr>
        <th>Sub-total:</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${bookSum}"></td>
    </tr>
    </tbody>
</table>
<table>
    <thead>
    <tr>
        <th>Tax: </th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${tax}"></td>
    </tr>
    </tbody>
</table>
<table>
    <thead>
    <tr>
        <th>Total: </th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${totalSum}"></td>
    </tr>
    </tbody>
</table>
<footer th:replace="fragments :: footer">
</footer>

</body>
</html>
