<html xmlns:th="http://www.thymeleaf.org" lang="en">
<body>
    <div th:fragment="nav">
        <header>
            <a th:href="@{/}">Home</a>
            <a th:href="@{/availablebooks}">Available Books</a>
            <a th:href="@{/shoppingbooks}">Shopping Books</a>
            <a th:href="@{/checkout}">Check Out Page</a>
        </header>
    </div>
    <div th:fragment="footer">
        <footer>
            &copy; 2025 Patryk's Online Book Store
        </footer>
    </div>
    <div th:fragment="table">
        <table>
            <tr>
                <th>ISBN</th>
                <th>TITLE</th>
                <th>AUTHOR</th>
                <th>Price</th>
            </tr>
            <tbody>
            <tr th:each="book : ${books}">
                <td th:text="${book.bookISBN}"></td>
                <td th:text="${book.bookTitle}"></td>
                <td th:text="${book.bookAuthor}"></td>
                <td th:text="${book.bookPrice}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>