<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Patryk's Online Book Store!</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet" type="text/css">
</head>
<body>
<h1>Welcome to Patryk's Online Book Store!</h1>
<header class="navigation" th:replace="fragments :: nav">
</header>

<div id="content">
    <img th:src="@{/images/bookStoreImg.jpeg}" alt="Logo">
</div>

<footer th:replace="fragments :: footer">
</footer>

</body>
</html>

